<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Tech Blog</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap"
    />
    <link href="/public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/public/fonts/font-awesome.min.css" rel="stylesheet" />
    <link href="/public/css/Login-Form-Basic-icons.css" rel="stylesheet" />
    <link href="/public/css/style-li.css" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
      <div class="container"><button
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          class="navbar-toggler"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        ><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse text-center" id="navbarResponsive">
          <ul class="navbar-nav text-center me-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a
                class="nav-link"
                href="/dashboard"
              >dashboard</a></li>
            <li class="nav-item"><a
                class="nav-link"
                href="/login"
              >login</a></li>
            <li class="nav-item"><a
                id="logout"
                class="nav-link"
                href=""
              >logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <header
      class="masthead"
      style="background-image: url('/public/img/home-bg.jpg');"
    >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto position-relative">
            <div class="site-heading">
              <h1>Tech Blog</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      {{{body}}}
    </main>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto">
            <div class="text-center">
              <div class="row">
                <div
                  class="col d-flex justify-content-xl-center align-items-xl-center"
                ><svg
                    class="bi bi-github text-center d-inline-block d-xl-flex justify-content-xl-center align-items-xl-center mx-1"
                    xmlns="http://www.w3.org/2000/svg"
                    width="1em"
                    height="1em"
                    fill="currentColor"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                    ></path>
                  </svg>
                  <p class="m-0">
                    <a
                      href="https://github.com/robles1999"
                      class="text-decoration-none"
                      target="_blank"
                    >Luis Robles</a></p>
                </div>
              </div>
            </div>
            <p class="text-muted copyright mt-0">Tech-Blog Bootcamp Project 2023</p>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
      integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
      crossorigin="anonymous"
    ></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/clean-blog.js"></script>
    <script src="/public/js/index.js"></script>
  </body>
</html>