<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Tech Blog</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap"
    />
    <link href="/public/css/bootstrap.min.css"  rel="stylesheet" />
    <link href="/public/fonts/font-awesome.min.css" rel="stylesheet" />
    <link href="/public/css/Login-Form-Basic-icons.css" rel="stylesheet" />
    <link href="/public/css/style-li.css" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
      <div class="container"><button
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          class="navbar-toggler"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        ><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse text-center" id="navbarResponsive">
          <ul class="navbar-nav text-center me-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a
                class="nav-link"
                href="about.html"
              >dashboard</a></li>
            <li class="nav-item"><a
                class="nav-link"
                href="/login"
              >login</a></li>
            <li class="nav-item"><a
                class="nav-link"
                href="post.html"
              >logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <header class="masthead" style="background-image: url('img/home-bg.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto position-relative">
            <div class="site-heading">
              <h1>Tech Blog</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      {{{body}}}
    </main>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item"></li>
              <li class="list-inline-item"></li>
              <li class="list-inline-item"><span class="fa-stack fa-lg"><i
                    class="fa fa-circle fa-stack-2x"
                  ></i><i
                    class="fa fa-github fa-stack-1x fa-inverse"
                  ></i></span></li>
            </ul>
            <p class="text-muted copyright">Copyright&nbsp;©&nbsp;Brand 2023</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/clean-blog.js"></script>
    <script src="js/login.js"></script>
  </body>
</html>