{{! ! NEW DASHBOARD LAYOUT }}
<section class="py-4 py-xl-4 mb-4">
  <div class="container" id="blog-row">
    {{#each posts as |post|}}
      <div id="home-blog-card" class="card">
        <div class="card-body">
          <a href="/blog/{{post.id}}">
            <h3 class="card-title">{{post.title}}</h3></a>
          <p class="mt-1 mb-3">Posted by
            {{user.title}}
            on
            {{format_date post.createdAt}}</p>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="text-center mt-3">
    <button id="create-post" class="btn btn-primary mt-5" type="button">create
      post</button>
  </div>

</section>