<section class="post-card">
    <div class="post-header">
        <h2>Create New Post</h2>
    </div>
    <form class="newPost-form post-description-style">
        <div class="form-flex">
                <label for="post-title-input" class="login-fill">Title: </label>
                <input class="form-input" type="textarea" id="post-title-input">

                <label for="post-description-input" class="login-fill">Description: </label>
                <textarea class="form-input" type="textarea" rows="20" id="post-description-input"></textarea>
            <div class="login-fill">
                <button class="btn-style" type="submit">Create</button>
            </div>
        </div>
    </form>
</section>

<script src="./js/post.js"></script>